/* You can add global styles to this file, and also import other style files */
body{
  padding-top: 20px;
  font-size: 16px;
  font-family: monospace;
}
button{
  position: fixed;
  top: 5px;
  left: 5px;
}

